@font-face {
  font-family: PlumbBold; /* Имя шрифта */
  src: url("../fonts/plumb/plumb-bo-webfont.woff"); /* Путь к файлу со шрифтом */
}

@font-face {
  font-family: PlumbRegular; /* Имя шрифта */
  src: url("../fonts/plumb/plumb-re-webfont.woff"); /* Путь к файлу со шрифтом */
}