@import "variables";

.tooltip {
  color: #ffffff !important;
  opacity: 1 !important;
  font-family: "PlumbBold" !important;
}

.tooltip-arrow {
  text-transform: uppercase;
  color: #3dbcd4 !important;
  border-bottom-color: #3dbcd4 !important;
  opacity: 1 !important;
}

.tooltip.right .tooltip-arrow {
  border-right-color: #3dbcd4 !important;
  border-bottom-color: transparent !important;
}

.tooltip-inner {
  text-transform: uppercase;
  color: #ffffff !important;
  background: #3dbcd4 !important;
  opacity: 1 !important;
  font-family: "PlumbBold" !important;
  font-size: 10px !important;
}

.owl-theme .owl-controls .owl-page.active span {
   background-color: #3ebcd4 !important;
  opacity: 1 !important;
 }

.owl-theme .owl-controls .owl-page span {
  background-color: #3ebcd4 !important;
  opacity: 0.4 !important;
}

.row {
  @media (max-width: 1050px) {
    margin-left:  0 !important;
    margin-right: 0 !important;
  }
}

.bx-wrapper .bx-pager a {
  border: solid #ccc 1px;
  display: block;
  margin: 0 5px;
  padding: 3px;
}

.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
  border: solid #5280DD 1px;
}

.owl-buttons {
  position: relative !important;
}

.owl-carousel .owl-wrapper-outer {
  padding-left: 15px;
  padding-right: 15px;
}

.owl-next {
  position: absolute !important;
  top: -76px !important;
  right: 7px !important;
  opacity: 1 !important;
  font-size: 25px !important;
  background-color:transparent !important;
}

.owl-prev {
  position: absolute !important;
  top: -76px !important;
  left: -2px!important;
  opacity: 1 !important;
  font-size: 25px !important;
  background-color:transparent !important;
}

.white {
  color: #dfdfdf;
}

.blue {
  color: #3dbcd4;
}

//imports modules
@import "blocks/page/_page.scss";
@import "blocks/top-navigation-panel/_top-navigation-panel.scss";
@import "blocks/navigation/_navigation.scss";
@import "blocks/user-action/_user-action.scss";
@import "blocks/main-content/_main-content.scss";
@import "blocks/slider-main/_slider-main.scss";
@import "blocks/header/_header.scss";
@import "blocks/logo/_logo.scss";
@import "blocks/work-hours/_work-hours.scss";
@import "blocks/search-top/_search-top.scss";
@import "blocks/contacts-phone/_contacts-phone.scss";
@import "blocks/main-header-navigation/_main-header-navigation.scss";
@import "blocks/banner/_banner.scss";
@import "blocks/special-products-main/_special-products-main.scss";
@import "blocks/product-item/_product-item.scss";
@import "blocks/banners-section/_banners-section.scss";
@import "blocks/event-list/_event-list.scss";
@import "blocks/event/_event.scss";
@import "blocks/social-blocks/_social-blocks.scss";
@import "blocks/why-we/_why-we.scss";
@import "blocks/brands-list/_brands-list.scss";
@import "blocks/main-tabs/_main-tabs.scss";
@import "blocks/footer/_footer.scss";
@import "blocks/breadcrumbs/_breadcrumbs.scss";
@import "blocks/pagination/_pagination.scss";
@import "blocks/category/_category.scss";
@import "blocks/aside-banner/_aside-banner.scss";
@import "blocks/accessories/_accessories.scss";
@import "blocks/recommended/_recommended.scss";
@import "blocks/product/_product.scss";
@import "blocks/product-slider/_product-slider.scss";
@import "blocks/discount/_discount.scss";
@import "blocks/raiting/_raiting.scss";
@import "blocks/fast-order/_fast-order.scss";
@import "blocks/stickers/_stickers.scss";
@import "blocks/specifications/_specifications.scss";
@import "blocks/description/_description.scss";
@import "blocks/questions/_questions.scss";