.logo {
  margin-right: 8%;
  float: left;

  @media (max-width: 1175px) {
    margin-right: 6%;
  }

  @media (max-width: 1095px) {
    margin-right: 4%;
  }

  @media (max-width: 1020px) {
    margin-right: 2%;
  }

  @media (max-width: 990px) {
    float: none;
    text-align: center;
  }
}

.logo--margin {
  margin-right: 0;
}