.main-content {
  &__item {
    position: relative;
    z-index: 5;
  }

  &__text {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 20px;
    font-family: arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
  }

  &__section-header {
    font-family: 'PlumbBold';
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}