.main-header-navigation {
  color: #ffffff;
  background-color: #3ebcd4;
  border-radius: 3px;
  position: relative;
  border: none;
  min-height: 0;
  margin-bottom: 0;

  &__outer-wrapper {
    padding-right: 0;
    padding-left: 0;
    border: none;
  }

  &__mobile-button {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
    border-color: #fff !important;

    &:hover {
      opacity: 0.5 !important;
      transition: 0.4s !important;
      background-color: transparent !important;
    }
  }
  
  &__icon-mobile {
    background-color: #FFF !important;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    float: none;
    color: #fff;
  }

  &__item {
    float: left;
    position: static !important;

    @media (max-width: 990px) {
      display: block;
      float: none;
    }
  }

  &__link {
    font-size: 12px;
    font-family: PlumbBold;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    height: 30px;
    line-height: 30px !important;
    padding: 0 21px !important;
    color: #fff !important;
    position: static !important;
    transition: 0.3s;

    &:hover {
      background: #000 !important;
      text-decoration: none !important;
      color: #fff !important;
    }

    @media (max-width: 1201px) {
      padding: 0 20px !important;
    }

    @media (max-width: 1170px) {
      padding: 0 18px !important;
    }

    @media (max-width: 1120px) {
      padding: 0 16px !important;
    }

    @media (max-width: 1090px) {
      padding: 0 14px !important;
    }

    @media (max-width: 1050px) {
      padding: 0 12px !important;
    }

    @media (max-width: 1010px) {
      padding: 0 10px !important;
    }
  }

  &__stock {
    background-image: url("../img/stock_btn_bg.png");
    background-color: #fff;
    border-radius: 50%;
    display: block;
    line-height: 30px;
    font-size: 12px;
    font-family: PlumbBold;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 0 !important;

    @media (max-width: 990px) {
      display: none !important;
    }
  }

  &__sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    padding-top: 10px;
    display: none;
  }

  &__sub-menu-wrap {
    background-color: #3ebcd4;
    border-radius: 5px;
  }

  &__row {
    margin: 0;
  }


  &__inner-link {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    margin-top: 6px;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 12px;

    &:hover {
      text-decoration: none;
      color: #000000;
    }
  }

  &__two-col {
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    z-index: 5;
  }

  &__two-col--banner {
    background-color: #ffffff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  &__description {
    padding-top: 10px;
  }

  &__row--padding {
    padding-top: 0px;
    padding-bottom:10px;
  }

  &__row--padding-top {
    padding-top: 30px;
  }
}