.special-products-main {

  &__tab-content {
    min-height: 384px;
  }

  &__tabs-control-link {
    display: block !important;
    height: 21px !important;
    line-height: 20px !important;
    font-size: 11px !important;
    text-transform: uppercase;
    padding: 0 10px !important;
    background: #3dbcd4;
    color: #fff;
    cursor: pointer;
    font-family: "PlumbBold";
    margin-right: 7px !important;
    border-radius: 4px !important;
    margin-bottom: 6px;

    &:hover {
      background-color: #fff !important;
      color: #000000 !important;
    }
  }

  &__tabs-control.active &__tabs-control-link {
    background-color: #fff !important;
    color: #000000 !important;
  }

  &__tabs-list {
    border: none;
    padding-bottom: 15px;
  }
}