.search-top {
  margin-right: 8%;
  padding-top: 13px;
  float: left;

  @media (max-width: 1175px) {
    margin-right: 6%;
  }

  @media (max-width: 1095px) {
    margin-right: 4%;
  }

  @media (max-width: 1020px) {
    margin-right: 2%;
  }

  @media (max-width: 990px) {
    float: none;
    text-align: center;
  }

  &__wrap {
    position: relative;

    @media (max-width: 990px) {
      width: 340px;
      margin: 0 auto;
    }

    @media (max-width: 350px) {
      width: 320px;
    }
  }

  &__input-search {
    border: none;
    color: #000;
    font-size: 14px;
    line-height: 16px;
    margin-top: 2px;
    padding: 5px 30px 5px 5px;
    width: 333px;
    border-radius: 3px;

    &--border {
      border: 1px solid #DEDEDE;
    }

    @media (max-width: 350px) {
      width: 300px;
    }
  }

  &__input-icon {
    position: absolute;
    top: 4.5px;
    right: 4px;
    background: none;
    border: none;

    @media (max-width: 350px) {
      right: 10px;
    }
  }

  &__icon {
    color: #3ebcd4;
  }
}