.header {
  position: relative;
  z-index: 3;

  &__top {
    padding-top: 20px;
  }

  &__bottom {
    padding-top: 15px;
  }

  &__wrap {
    @media (max-width: 1201px) {
      width: 100%;
    }
  }

}