.contacts-phone {
  float: left;
  color: #ffffff;
  margin-top: -7px;

  @media (max-width: 990px) {
    float: none;
    text-align: center;
  }

  &__wrapper {
    @media (max-width: 990px) {
      width: 190px;
      margin: 0 auto;
      padding-top: 20px;
    }
  }

  &__icon {
    display: block;
    float: left;
    font-size: 20px;
    padding-top: 22px;
    padding-right: 10px;
  }

  &__wrap {
    float: left;
  }

  &__phone {
    display: block;
    font-size: 20px;
    font-family: PlumbBold;
    text-align: right;
  }

  &__call-back-link {
    font-size: 10px;
    text-transform: uppercase;
    color: #3ebcd4;

    &:hover {
      color: #ffffff;
    }
  }
}