.top-navigation-panel {
  position: relative;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  background-color: #fff;
  width: 100%;
  top: 0;

  &__container {
    position: relative;
  }

  @media only screen and (max-width: 1201px) {
    width: 100%;
  }

  @media only screen and (max-width: 990px) {
    text-align: center;
  }

  &__navigation {
    width: 80%;
    float: left;

    @media only screen and (max-width: 990px) {
      width: 100%;
      float: none;
    }
  }

  &__user-action {
    width: 20%;
    float: left;

    @media only screen and (max-width: 990px) {
      width: 100%;
      float: none;
    }
  }
}